body {
  font-family: sans-serif;
  padding: 20px;
  background: #f3f3f3;
}

section {
  margin-bottom: 40px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
